html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #ecebde;
  text-align: center;
  color: black;
  height: 25px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  padding: 20px;
}

.nav {
  background: linear-gradient(90deg, #d7d3bf, #c1baa1);
  align-items: center;
  justify-content: space-between;
  height: 35px;
  display: flex;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 40%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px;
}

.nav p {
  font-size: 22px;
  margin-right: auto;
  font-family: sans-serif;
  line-height: 1.8;
  letter-spacing: 0.3px;
}

.nav button {
  background: transparent;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav button:hover {
  background: rgba(122, 121, 121, 0.75);
  backdrop-filter: blur(6px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  color: rgb(224, 224, 224);
  border-radius: 6px;
}

@media (max-width: 900px) {
  .nav {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .links {
    position: static;
    transform: none;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  label {
    width: 100%;
    justify-content: center;
  }

  label input {
    width: 90%;
  }
}

/* MIDDLE LINKS */
.links {
  display: flex;
  gap: 40px;
  position: static;
  transform: none;
}

.links a {
  text-decoration: none;
  color: #292828;
  font-size: 18px;
  transition: 0.3s ease;
}

.links a:hover {
  color: #000000;
}

/* Main image */
.hero-section {
  display: flex;
  justify-content: center;
  background-color: #f1f3e0;
  align-content: center;
  position: relative;
}

.hero-section::after {
  /* content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
*/
  pointer-events: none;
}

.hero-section img {
  width: 100%;
  display: block;
}

@media (max-width: 768px) {
  .hero-section img {
    width: 100%;
    padding: 0;
  }
}

.line p {
  background-color: rgb(253, 248, 242);
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  height: 40px;
  font-family: "Edu NSW ACT Cursive", cursive;
  padding-top: 10px;
  padding: 20px;
  letter-spacing: 1px;
}

/* CATEGORY SECTION */
.category-section {
  height: 360px;
  display: flex;
  justify-content: center;
  gap: 50px;
  background: linear-gradient(180deg, #d7d3bf, #c1baa1);
  padding-top: 20px;
}

.category-text {
  height: 260px;
  width: 340px;
  text-align: left;
}

.category-text h4 {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Edu NSW ACT Cursive", cursive;
  letter-spacing: 1px;
}

.category-text p {
  font-size: 16px;
  letter-spacing: 1px;
}

.category-section img {
  height: 300px;
  width: 340px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 12px;
}

.category-section img:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .category-section {
    flex-direction: column;
    height: auto;
    padding: 30px 15px;
    gap: 30px;
    align-items: center;
  }

  .category-text {
    width: 100%;
    text-align: center;
  }

  .category-text h4 {
    font-size: 26px;
  }

  .category-section img {
    width: 340px;
    height: 300px;
  }
}

.photo-category {
  height: 340px;
  display: flex;
  justify-content: center;
  /* background-color: #f1f3e0; */
  background: linear-gradient(180deg, #c1baa1, #d7d3bf);
  gap: 50px;
  padding: 0 10px 0 10px;
}

.photo-category img {
  width: 340px;
  height: 300px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 12px;
}

.photo-category img:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .photo-category {
    flex-direction: column;
    height: auto;
    gap: 25px;
    padding-bottom: 30px;
    align-items: center;
  }

  .photo-category img {
    width: 340px;
    height: 300px;
  }
}
